@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

$score: 7rem;
$h2: 3.1rem;
$current-score: 3.5rem;
$h4: 2.1rem;
$font-family: "Nunito", sans-serif;

$background-color: #c7365f;
$linear-gradient: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
