@use "const";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: const.$font-family;
	font-weight: 400;
	height: 100vh;
	background-image: const.$linear-gradient;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #333;
	text-transform: uppercase;
}
main {
	height: 80vh;
	width: 80vw;
	background-color: rgba(255, 255, 255, 0.4);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 1rem;
	overflow-x: hidden;
	flex-wrap: wrap;
	backdrop-filter: blur(200px);
	filter: blur();
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.player {
	flex: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem;
	transition: all 0.3s;
	.name {
		font-size: const.$h2;
		padding: 2rem;
	}
	.score {
		font-size: const.$score;
		padding-bottom: 5rem;
	}
	.current {
		display: block;
		text-align: center;
		background-color: const.$background-color;
		padding: 3rem 7rem;
		margin-top: 10rem;
		border: none;
		border-radius: 1.2rem;
		color: #fff;
		opacity: 0.8;
	}
	.current-score {
		font-size: const.$current-score;
	}
	.current-label {
		font-size: const.$h4;
	}
}
.player--0 {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.player--1 {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
.player--active {
	background-color: rgba(255, 255, 255, 0.3);
	.name {
		font-weight: 700;
	}
	.score {
		font-weight: 700;
	}
	.current {
		opacity: 1;
	}
}
.player--winner {
	background-color: #333;
	color: #ebebeb;
}
.hidden {
	display: none;
}

// Absolute Elements
.dice-img {
	position: absolute;
	height: 10rem;
	left: 50%;
	transform: translate(-50%, 0);
	top: 15rem;
	border-radius: 1rem;
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.35);
}
.btn {
	position: absolute;
	border: none;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 1rem 2.4rem;
	border-radius: 50rem;
	color: #444;
	font-weight: 100;
	text-align: center;
	font-family: inherit;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	font-size: 1.8rem;
	transition: all 0.5s;

	&::first-letter {
		margin-right: 0.6rem;
	}
	&:active {
		transform: translate(-50%, 0.3rem);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
	}
}
.btn--new {
	top: 5rem;
}
.btn--dice {
	bottom: 15rem;
}
.btn--hold {
	bottom: 5rem;
}
.win {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 15rem;
	padding: 2rem 2.4rem;
	border-radius: 50rem;
	font-size: 1.5rem;
	color: #333;
	background-color: #ebebeb;
	box-shadow: 0 1rem 2rem rgb(199, 54, 95, 0.2);
}

// Information Modal
.game-info {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	background: none;
	border: none;
	cursor: pointer;
}
.game-info-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #333;
	color: #ebebeb;
	padding: 2rem;
	border-radius: 1rem;
	z-index: 10;
	h1 {
		font-size: 2.2rem;
		color: const.$background-color;
	}
	p {
		font-size: 1.2rem;
		text-align: justify;
	}
	.game-info__close {
		position: absolute;
		top: 0.8rem;
		right: 1rem;
		background: none;
		border: none;
		color: #fff;
		font-size: 1.8rem;
		cursor: pointer;
	}
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 5;
}
